<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-9 col-xl-8 order-2 order-lg-1">

                <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Add user</h4>
                    <button type="button" class="btn-close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"></button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="form3Example1c"
                                 [class.is-invalid]="addUserForm.get('firstName').invalid && addUserForm.get('firstName').touched"
                                 formControlName="firstName" class="form-control"/>
                          <label class="form-label" for="form3Example1c">First Name</label>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="form3Example2c"
                                 [class.is-invalid]="addUserForm.get('lastName').invalid && addUserForm.get('lastName').touched"
                                 formControlName="lastName" class="form-control"/>
                          <label class="form-label" for="form3Example1c">Last Name</label>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="email" id="form3Example3c" formControlName="email"
                                 [class.is-invalid]="addUserForm.get('email').invalid && addUserForm.get('email').touched"
                                 class="form-control"/>
                          <label class="form-label" for="form3Example3c">Your Email</label>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" id="form3Example4c" formControlName="password"
                                 [class.is-invalid]="addUserForm.get('password').invalid && addUserForm.get('password').touched"
                                 class="form-control"/>
                          <label class="form-label" for="form3Example4c">Password</label>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                  </div>
                </ng-template>

                <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add User</button>

                <hr>

                <pre>{{ closeResult }}</pre>

                <app-info [admin]="adminName"></app-info>
                <h3 class="p-3 text-center">Users</h3>
                <div class="container">
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Surname</th>
                      <th>Email</th>
                      <th>Password</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of userList; let i = index" [attr.data-index]="i">
                      <td>{{user.firstName}}</td>
                      <td>{{user.lastName}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.password}}</td>
                      <td>
                        <ng-template #content let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title" id="modal-alert">Are you sure?</h4>
                            <button type="button" class="btn-close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')"></button>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-danger" (click)="deleteUser(i) ; modal.close('Save click')">Delete
                            </button>
                            <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">No
                            </button>
                          </div>
                        </ng-template>
                        <button class="btn btn-danger" (click)="open(content)">Delete</button>
                    </tr>
                    </tbody>
                  </table>

                  <p><a routerLink="/404" routerLinkActive="active"> Next page &rarr; </a></p>
                  <h3 class="p-3">Admins</h3>
                  <div class="container">
                    <table class="table table-striped">
                      <tbody>
                      <tr *ngFor="let admin of adminList; let i = index" [attr.data-index]="i">
                        <app-admin-table [adminList]="admin"></app-admin-table>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
              <div class="col-md-5 col-lg-3 col-xl-4 d-flex align-items-center order-1 order-lg-2">
                <img id="imagePrivacyPolicy"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/System-users.svg/1200px-System-users.svg.png"
                     class="img-fluid" alt="Sample image">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
