<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Privacy Policy</p>
                <p class="privacyPolicyText">
                  &nbsp;&nbsp;&nbsp;&nbsp;Company Name operates the Website Name website, which provides the
                  SERVICE.<br>
                  This page is used to inform website visitors regarding our policies with the collection, use, and
                  disclosure of Personal Information if anyone decided to use our Service, the Website Name website.
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;If you choose to use our Service, then you agree to the collection and use of
                  information in relation
                  with this policy. The Personal Information that we collect are used for providing and improving the
                  Service. We will not use or share your information with anyone except as described in this Privacy
                  Policy.
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;The terms used in this Privacy Policy have the same meanings as in our Terms
                  and Conditions, which is
                  accessible at Website URL, unless otherwise defined in this Privacy Policy.
                  Information Collection and Use
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;For a better experience while using our Service, we may require you to provide
                  us with certain
                  personally identifiable information, including but not limited to your name, phone number, and postal
                  address. The information that we collect will be used to contact or identify you.
                  Log Data
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;We want to inform you that whenever you visit our Service, we collect
                  information that your browser
                  sends to us that is called Log Data. This Log Data may include information such as your computer's
                  Internet Protocol (“IP”) address, browser version, pages of our Service that you visit, the time and
                  date of your visit, the time spent on those pages, and other statistics.
                  Cookies
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;Cookies are files with small amount of data that is commonly used an anonymous
                  unique identifier.
                  These are sent to your browser from the website that you visit and are stored on your computer's hard
                  drive.
                </p>
                <span class="textDecoration"> <a routerLink="/sign-in" routerLinkActive="active">
                &larr;&nbsp;&nbsp;Back
              </a>
              </span>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img id="imagePrivacyPolicy"
                     src="https://img.freepik.com/free-vector/privacy-policy-concept-illustration_114360-7478.jpg?w=2000"
                     class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
